body {
    background-color: #ddd4c3;
    font-family: monospace;
}

h1{
    position: relative;
    top: 65px;
    text-align: center;
    color: #696969;
}

input {
    position: absolute;
    left: 600px;
    top: 150px;
    text-align: center;
    border-style: none;
    background: none;
}

input:focus {
    outline: none;
}

img {
    position: absolute;
    left: 650px;
    top: 200px;
    width: 100px;
    height: 120px;
    align-items: center;
}

button {
    position: relative;
    margin-left: 10px;
    padding: 10px;
    left: 600px;
    top: 400px;
    border-radius: 15px;
    background: none;
    border-color: #ddd4c3;
    transition: box-shadow, 2s ease-in-out;
}

button:hover {
    box-shadow: 5px 3px 0;
}